<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectDatabase1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap" rel="stylesheet">

    
    <link rel="stylesheet" href="~/ProjectDatabase1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="logo pcol-text" asp-area="" asp-controller="Home" asp-action="Index">Logo</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-end">

                    <div class="dropdown">
                        <a class="btn text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Manage Content
                        </a>

                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Category" asp-action="Index">Categories</a></li>
                            <li><a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Project" asp-action="Index">Projects</a></li>
                        </ul>
                    </div>

                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link text-dark fw-bold" asp-area="" asp-controller="ViewProjects" asp-action="Index">View Existing Database</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn pcol-btn ps-4 pe-4" asp-area="" asp-controller="Home" asp-action="Privacy">Get Started</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="my-footer">
        <div class="container">
            <div class="row">
                <div class="col ps-0">
                    <ul>
                        <li><h5>Company</h5></li>
                        <li><a href="#">About Logo</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Press</a></li>
                        <li><a href="#">Trends</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
                <div class="col"></div>
                <div class="col">
                    <ul>
                        <li><h5>Support</h5></li>
                        <li><a href="#">Give Us Feedback</a></li>
                        <li><a href="#">Help Center</a></li>
                        <li><a href="#">Live Chat</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><h5>Resources</h5></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><h5>Contact</h5></li>
                        <li><a href="#">support@logo.ng</a></li>
                    </ul>
                </div>
            </div>
            <div class="row mb-0">
                <div class="col-lg-6">
                    <p>&copy; @DateTime.Now.Year Logo. All rights reserved</p>
                </div>
                <div class="col-lg-6 text-end">
                    <a class="ms-3 text-dark" asp-action="Privacy">Privacy Policy</a>
                    <a class="ms-3 text-dark" asp-action="Terms">Terms of Use</a>
                    <a class="ms-3 text-dark" asp-action="CookiePolicy">Cookie Policy</a>
                </div>
            </div>
            @*<div class="row mt-0">
                <div class="col text-center">
                    <p>Website Developed by <span class="fw-bold pcol-text"><a href="https://github.com/MaureenMOguche">Maureen Oguche</a></span></p>
                </div>
            </div>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
